<nav class="container">
    <a href="index.html" class="logo">
        <img src="duck-favicon.png" alt="Duck Stack Logo" class="logo-img">
        <span class="highlight">DUCK</span>STACK
    </a>
    <div class="menu-btn" id="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links" id="nav-links">
        <li><a href="#sobre">SOBRE</a></li>
        <li><a href="#skills">HABILIDADES</a></li>
        <li><a href="#projects">PROJETOS</a></li>
        <li><a href="#companies">TRAJETÓRIA</a></li>
        <li><a href="src/views/certificados.html">CERTIFICADOS</a></li>
        <li><a href="src/views/galeria.html">GALERIA</a></li>
        <li><a href="#contact">CONTATO</a></li>
    </ul>
</nav>
