<section id="companies">
    <div class="section-header">
        <span class="tagline">Trajetória Profissional</span>
        <h2>Experiência & Empresas</h2>
        <div class="divider"></div>
    </div>

    <div class="companies-grid">
        <article class="company-card">
            <div class="company-logo">
                <img src="../../assets/img/trajetorias/hedging-consult.png" alt="Hedging Consult">
            </div>
            <div class="exp-header">
                <div class="exp-company">
                    <h3>Hedging Consult</h3>
                </div>
                <div class="exp-socials">
                    <a href="https://www.linkedin.com/company/hc-business-school/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.facebook.com/hcbusinesschool" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </article>

        <article class="company-card">
            <div class="company-logo">
                <img src="../../assets/img/trajetorias/dabandagames.png" alt="DabandaGames Studios">
            </div>
            <div class="exp-header">
                <div class="exp-company">
                    <h3>DabandaGames Studios</h3>
                </div>
                <div class="exp-socials">
                    <a href="https://www.facebook.com/people/Dabandagames-Studios/61552041745655/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/@dabandagames" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://adelardo68.itch.io/" target="_blank"><i class="fab fa-itch-io"></i></a>
                </div>
            </div>
        </article>
    </div>

    <div class="view-more-container" style="text-align: right; margin-top: 40px;">
        <a href="src/views/todas-trajetorias.html" class="btn-view-more">
            Ver Toda a Trajetória <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</section>
